*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background-color: #1e272e;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.portfolio-menu{
    width:50%;
    text-align: right;
    padding-right: 60px;
}
.portfolio-list{
    list-style: none;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}
.portfolio__menu_item{
    padding: 10px;
    font-size: 24px;
    color: #d2dae2;
    transition: 0.1s linear;
    display: block;
}

.portfolio__menu_item:hover{
    cursor: pointer;
}
.active{
    transform: scale(1.2);
    text-shadow: 2px 2px 2px black;
}
.blur{
    filter: blur(3px);
    -webkit-filter: blur(3px);
}
.portfolio__wrapper{
    width: 50%;
    min-height: 100vh;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.portfolio__item{
    width: 80%;
    height: 80%;
    background-color: black;
}
.portfolio__item_wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    transition: 0.4s ease-out;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
}
.display-portfolio-item{
    opacity: 1;
    left: 0;
}
.portfolio__item_image{
    max-width: 500px;    
    width: 100%;
}
.portfolio__item_title, 
.portfolio__item_description{
    display: block;
    max-width: 500px;
    width: 100%;
    color: white;
    transition: 0.2s;
}
.portfolio__item_title:hover{
    color: rgb(199, 199, 199);
}

.portfolio__item_description{
    line-height: 1.4;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

@media all and (max-width:640px), all and (-webkit-device-pixel-ratio: 1.5) and (min-width: 960px){
    body{
        flex-direction: column;
        padding: 20px;
    }
    .portfolio-menu{
       max-height: 10%;
       width: 100%;
       padding: 0;
    }
    .portfolio-list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 40px 0 0 0;
        margin: 0;
    }
    .portfolio__wrapper{
        width: 100%;
        height: 90%;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .portfolio__item_wrapper{
        position: absolute;
        top: 0;
        width: 100%;
        padding: 10px;
        margin: 0;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 30px;
    }
    .portfolio__item_title{
        width: 100%; 
        font-size: 18px;
    }
    .portfolio__item_description{
        width: 100%;
        font-size: 14px;
    }
    .portfolio__item_image{
        width: 100%;
        display: block;
    }
}
